<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="View Posted Overtime" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="default" placeholder="Search Overtime ID..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="background" fullscreen>
  <center>
    <img src="https://ntc.co.id/download/HRIS-Slider1.png" style="padding: 0px;">
  </center>

  <ion-list *ngFor="let item of listsNote | filter:filterTerm;let i = index">
    <ion-list-header style="background-color: #5A5A5A;">
      ID Register : {{item.no_regis_ot}}
    </ion-list-header>
    <ion-item>
      <ion-note slot="start">OT Date</ion-note>
      <ion-note slot="end">{{item.ot_date}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-note slot="start">OT Time</ion-note>
      <ion-note slot="end">{{item.ot_start_def}} s/d {{item.ot_end_def}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Shift</ion-note>
      <ion-note slot="end">{{item.wscode}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-note slot="start">Description</ion-note>
      <ion-note slot="end">{{item.desc_ot}}</ion-note>
    </ion-item>
  </ion-list>
  
</ion-content>
